<!DOCTYPE html>
<html>
<head>
    <title>HOMEPAGE</title>
</head>
<body>
    <h2>dato il nome di una provincia inserito dall'utente, visualizzarne i confini su una mappa di contextily</h2>
    <form action="/esercizio1" method = "GET">
        

        <p><input type = "submit" value = "Clicca per conoscere i dati" /></p>
    </form> <br> <br>
    
    
    <h2>creare un nuovo geodataset contenente i comuni di quella provincia</h2>
    <form action="/esercizio2" method = "GET">
        
        <input type="text" name = "provinciaInput2" ></input> <br>

        <p><input type = "submit" value = "Clicca per conoscere i dati" /></p>
    </form> <br> <br>

    


</body>
</html>